h1
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13pt;
  color: #AE9E75;
}

h2
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  color: #AE9E75;
}

h3
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #666666;
}


p
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
  max-width: 900px;
}

ol
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
  max-width: 900px;
}

@font-face {
    font-family: '12th C. Fancy Caps'; /*a name to be used later*/
    src: url('https://armstrongmetalcrafts.com/Bin/12TH_C._FANCY_CAPS.TTF.ttf'); /*URL to font*/
}

table.legend
{
  border: 1px solid windowtext;
  border-collapse: collapse;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
  max-width: 900px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}

td.legend
{
  border: 1px solid windowtext;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}

td.legendc
{
  border: 1px solid windowtext;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
  text-align: center;
}

th.legend
{
  border: 1px solid windowtext;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 2px;
}

ul
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
  max-width: 900px;
}

.book
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
  vertical-align: text-top;
}

.caption
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
}

.pic
{
  width: 300px;
}

.promo
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style:italic;
  color: #009900;
}

.prt
{
  float:right;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  font-style: italic;
  color: #333333;
  max-width: 900px;
}

.prt740
{
  float:right;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  color: #333333;
  max-width: 740px;
}

.prv
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 9pt;
  color: #333333;
}

table.reftable
{
  border: 1px solid Black;
  border-collapse: collapse;
  border-color: Black;
  padding: 1px;
}

table.reftable th
{
  background-color: White;
  border: 1px solid Black;
  color: black;
  font-size: 11.0pt;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, sans-serif;
  padding: 3px;
  text-align: center;
  vertical-align: middle;
}

table.reftable th.bot
{
  background-color: White;
  border: 1px solid Black;
  color: black;
  font-size: 11.0pt;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, sans-serif;
  padding: 3px;
  text-align: center;
  vertical-align: bottom;
}

table.reftable tr.tr0
{
  border: 1px solid Black;
  height: 15.0pt;
  color: black;
  font-size: 10.0pt;
  font-weight: 400;
  font-style: normal;
  font-family: Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}

table.reftable tr.tr1
{
  border: 1px solid Black;
  height: 15.0pt;
  color: black;
  font-size: 10.0pt;
  font-weight: 400;
  font-style: normal;
  font-family: Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}

table.reftable tr.tr0 td
{
  background-color: #D0C2A4;
  border: 1px solid Black;
}

table.reftable tr.tr1 td
{
  border: 1px solid Black;
}

td.blankcell
{
  background-color: White !important;
  border-bottom: 1px solid White !important;
  border-right: 1px solid Black !important;
  border-top:  1px solid White !important;
}

td.blankcellall
{
  background-color: White !important;
  border-bottom: 1px solid White !important;
  border-right: 1px solid White !important;
  border-top:  1px solid White !important;
}

th.blankcell
{
  background-color: White !important;
  border-bottom: 1px solid White !important;
  border-right: 1px solid Black !important;
  border-top:  1px solid White !important;
}

.goldcell
{
  background-color: #D0C2A4;
  border: 1px solid Black;
  color: black;
  font-size: 10.0pt;
  font-weight: 400;
  font-style: normal;
  font-family: Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}

.goldcellredtext
{
  background-color: #D0C2A4;
  border: 1px solid Black;
  color: red;
  font-size: 10.0pt;
  font-weight: 700;
  font-style: normal;
  font-family: Arial, sans-serif;
  text-align: center;
  vertical-align: middle;
}

td.upper_line
{
  border-top: solid 1px black;
}

table.fraction
{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  text-align: center;
  vertical-align: middle;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  line-height: 2em;
}

body
{
}
